<% if flash.has?(:message) %>
  <br><%= flash[:message] %><br><br>
<% end %>


<h3>FoodMe Login</h3>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input class="btn btn-primary btn-sm" type="submit" value="submit">
</form>