<% if flash.has?(:message) %>
  <br><%= flash[:message] %><br><br>
<% end %>


<h3>Please create an account:</h3>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:"><br><br>
  <input type="text" name="email" placeholder="Email:"><br><br>
  <input type="password" name="password" placeholder="Password:"><br><br>
  <input class="btn btn-primary btn-sm" type="submit" value="Log In">
</form>