<% if flash.has?(:message) %>
  <br><%= flash[:message] %><br><br>
<% end %>


<h3>Please create an account:</h3>

<div class="form-group">
	<form action="/signup" method="POST">
	  <input type="text" name="username" class="form-control" placeholder="Username:"><br>
	  <input type="email" name="email" class="form-control" placeholder="Email:"><br>
	  <input type="password" name="password" class="form-control" placeholder="Password:"><br>
	  <input class="btn btn-primary btn-sm" type="submit" value="Log In">
	</form>
</div>