<% if flash.has?(:message) %>
  <br><%= flash[:message] %><br><br>
<% end %>


<h3>Please create a FoodMe account</h3>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input class="btn btn-primary btn-sm" type="submit" value="Log In">
</form>