<h3>New FoodMe Review</h3>

<% if flash.has?(:message) %>
  <br><%= flash[:message] %><br><br>
<% end %>

<form action="/reviews" method="POST" id="review_form">
  <input type="text" name="dish[name]" placeholder="Dish Name"><br><br>
  <input type="number" name="dish[price]" placeholder="Dish Price" min="0.00" max="200.00" step="0.01"><br><br>
  <input type="text" name="restaurant" placeholder="Restaurant Name"><br><br>
  <input type="text" name="city" placeholder="Restaurant City"><br><br>
  
  Vegetarian: 
  <input type="hidden" value="0" name="dish[vegetarian]">
  <input type="checkbox" value="1" name="dish[vegetarian]"><br>

  Gluten-Free:
  <input type="hidden" value="0" name="dish[gluten_free]">
  <input type="checkbox" value="1" name="dish[gluten_free]"><br><br>

  <p>Review:<br><textarea rows="7" cols="50" name="content" form="review_form"></textarea><br><p>
 
  <input class="btn btn-primary" type="submit" value="submit">
</form>

