<h1>New FoodMe Review</h1>


<form action="/reviews" method="POST" id="review_form">
  <input class="btn btn-default" type="text" name="dish[name]" placeholder="Dish Name"><br>
  <input class="btn btn-default" width="50" name="dish[price]" placeholder="Dish Price" min="0.00" max="200.00" step="0.01"><br>
  
  Vegetarian? 
  <input class="btn btn-default" type="hidden" value="0" name="dish[vegetarian]">
  <input class="btn btn-default" type="checkbox" value="1" name="dish[vegetarian]">

  Gluten-Free?
  <input class="btn btn-default" type="hidden" value="0" name="dish[gluten_free]">
  <input class="btn btn-default" type="checkbox" value="1" name="dish[gluten_free]"><br>

  <textarea class="btn btn-default" rows="4" cols="50" name="content" form="review_form"></textarea><br>
  <input class="btn btn-default" type="text" name="restaurant" placeholder="Restaurant Name"><br>
  <input class="btn btn-default" type="text" name="city" placeholder="Restaurant City"><br>
  <input class="btn btn-primary" type="submit" value="submit">
</form>

