<h1>New FoodMe Review</h1>


<form action="/reviews" method="POST">
  <input type="text" name="dish[name]" placeholder="Dish Name">
  <input type="text" name="dish[price]" placeholder="Dish Name">
  <input type="text" name="dish[name]" placeholder="Dish Name">
  <input type="submit" value="submit">
</form>