<% if flash.has?(:message) %>
  <br><%= flash[:message] %><br><br>
<% end %>

<br>
<h5>FoodMe allows you keep track of all the dishes you eat out at restaurants.</h5>
<p>Unlike many other food review sites, this application focuses primarily on the actual dish you eat. <br>Users can easily share their individual page containing all their dish reviews. <br>No more having to find a restaurant, then dig through the reviews to find feedback on the dish you are interested in. <br><br>
Review and share the food you actually care about.<p>
