<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
			padding: 20px;
		}

    .navbar-default {
      background-color: #fff;
      border-color: #fff;
      padding-bottom: 85px;
    }

    .navbar-default .navbar-nav > li > a {
    color: #000;
    }

	</style>
    <title>FoodMe!</title>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/reviews">
            <img alt="Brand" src="/images/logo.png">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><a href="/reviews">All Reviews</a></li>
              <li><a href="/<%= current_user.username %>">Your Reviews</a></li>
              <li><a href="/reviews/new">New Review</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/logout">Log Out</a></li>
                </ul>
              </li>
            <% else %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <% if logged_in? %>
      <h1> Hello, <%= current_user.username %></h1>
    <% else %>
      <h1>Welcome to FoodMe!</h1>
      <h4>-a food review site</h4>
    <% end %>
    
    <%= yield %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>