<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
			padding: 20px;
		}

	</style>
    <title>FoodMe!</title>
  </head>

  <body>
    <% if logged_in? %>
      <h1> Hello, <%= current_user.username %></h1>
      <h5>
        <a href="/<%= current_user.username %>">Your Reviews</a> | 
        <a href="/reviews">All Reviews</a> | 
        <a href="/reviews/new">New Review</a> | 
        <a href="/logout">Log Out</a>
      </h5>
    <% else %>
      <h1>Welcome to FoodMe!</h1>
      <h4>-a food review site</h4>
      <h5>
        <a href="/login">Login</a> | 
        <a href="/signup">Signup</a>
      </h5>
    <% end %>
    <%= yield %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>